.audit_item {
    background-color: rgba(200, 100, 100, 1);
    padding: 5px;
    margin-bottom: 10px;
    height: 3em;
    overflow: hidden;
}

.audit_item .time {
    display: block;
    float: right;
    opacity: .5;
    font-size: 10pt;
}

.audit_item .actions .action {
    float: right;
    font-size: 10pt;
    margin-left: 20px;
}