.rowtitle {
    font-size: 24pt;
    font-style: italic;
    margin-right: 30px;
    margin-bottom: 50px;
}

div#time {
    font-size: 20pt;
    color: green;
}

label {
    font-size: 12pt;
    width: 100px;
}

input[type="button"] {
    font-size: 24pt;
}