<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
               http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
               http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:activemq.properties" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<import resource="classpath:applicationScheduler.xml" />
	<import resource="classpath:applicationPlatformServerAPI.xml" />
	<import resource="classpath:applicationSmsHttp.xml" />
	<import resource="classpath:applicationSmsAPI.xml" />
	<import resource="classpath:applicationSchedulerTrackingAPI.xml" />

	<context:property-placeholder location="classpath*:maven.properties" />

	<util:properties id="opensrp" location="classpath:/opensrp.properties" />

	<context:annotation-config />

	<bean id="statsdAgent" class="org.motechproject.metrics.impl.LoggingAgentBackendImpl" />

	<!-- <import resource="persistence_couchdb.xml"/> -->
	<import resource="persistence_postgres.xml"/>

	<task:scheduler id="applicationScheduler" pool-size="10" />

	<task:scheduled-tasks scheduler="applicationScheduler">
		<task:scheduled ref="eventsListener" method="processEvent"
			fixed-delay="180000" />
		<task:scheduled ref="openmrsSyncerListener" method="pushToOpenMRS"
			fixed-delay="300000" />
		<task:scheduled ref="openmrsValidateDataSync" method="syncToOpenMRS"
			fixed-delay="420000" />
		<task:scheduled ref="DHIS2DatasetPush" method="pushToDHIS2"
			fixed-delay="600000" />
		<task:scheduled ref="openmrsAtomfeedListener" method="syncAtomfeeds"
			fixed-delay="900000" />
		<task:scheduled ref="viewConfigurationService" method="addServerVersion"
			fixed-delay="120000" />
	</task:scheduled-tasks>


</beans>
