<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
               http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
               http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
               http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:activemq.properties" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<import resource="classpath:applicationScheduler.xml" />
	<import resource="classpath:applicationPlatformServerAPI.xml" />
	<import resource="classpath:applicationSmsHttp.xml" />
	<import resource="classpath:applicationSmsAPI.xml" />
	<import resource="classpath:applicationSchedulerTrackingAPI.xml" />

	<context:property-placeholder location="classpath*:maven.properties" />

	<util:properties id="opensrp" location="classpath:/opensrp.properties" />

	<context:annotation-config />

	<bean id="statsdAgent" class="org.motechproject.metrics.impl.LoggingAgentBackendImpl" />

	<task:scheduler id="applicationScheduler" pool-size="10" />

	<task:scheduled-tasks scheduler="applicationScheduler">
		<task:scheduled ref="eventsListener" method="processEvent"
			fixed-delay="180000" />
		<task:scheduled ref="openmrsSyncerListener" method="pushToOpenMRS"
			fixed-delay="300000" />
		<task:scheduled ref="openmrsValidateDataSync" method="syncToOpenMRS"
			fixed-delay="420000" />
		<task:scheduled ref="DHIS2DatasetPush" method="pushToDHIS2"
			fixed-delay="600000" />
		<task:scheduled ref="openmrsAtomfeedListener" method="syncAtomfeeds"
			fixed-delay="900000" />
		<task:scheduled ref="viewConfigurationService" method="addServerVersion"
			fixed-delay="120000" />
	</task:scheduled-tasks>

	<beans profile="Postgres">
		<import resource="persistence_postgres.xml" />
	</beans>

	<beans profile="CoachDB">
		<import resource="persistence_couchdb.xml" />
	</beans>

	<beans profile="Jedis">
		<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig"
			p:max-total="${redis.pool.max.connections}" p:test-on-borrow="true"
			p:test-on-return="true" />

		<bean id="jedisConnectionFactory"
			class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
			p:host-name="${redis.host}" p:port="${redis.port}" p:password="${redis.password}"
			p:use-pool="true">
			<constructor-arg ref="jedisPoolConfig" />
		</bean>

		<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
			p:connection-factory-ref="jedisConnectionFactory"
			p:enable-transaction-support="true" />

	</beans>

	<beans profile="Lettuce">
		<bean id="lettucePool"
			class="org.springframework.data.redis.connection.lettuce.DefaultLettucePool">
			<property name="hostName" value="${redis.host}" />
			<property name="port" value="${redis.port}" />
			<property name="password" value="${redis.password}" />
			<property name="poolConfig" ref="lettucePoolConfiguration" />
		</bean>

		<bean id="lettucePoolConfiguration" class="org.springframework.data.redis.connection.PoolConfig"
			p:max-total="${redis.pool.max.connections}" p:test-on-borrow="true"
			p:test-on-return="true" />

		<bean id="lettuceConnectionFactory"
			class="org.springframework.data.redis.connection.lettuce.LettuceConnectionFactory">
			<constructor-arg index="0" ref="lettucePool" />
		</bean>

		<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
			p:connection-factory-ref="lettuceConnectionFactory"
			p:enable-transaction-support="true" />

	</beans>
</beans>
